* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/* Scrollbar adjustment*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-track-piece {
    background: #4bc0b0;
}

::-webkit-scrollbar-corner {
    background: #4bc0b0;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scrollbar adjustment end*/

html,
body {
    height: 100vh;
}

h1,
h3 {
    font-family: 'Anton', sans-serif;
    color: #4bc0b0;
    text-transform: uppercase;
}

h4 {
    font-family: 'Anton', sans-serif;
    color: #4bc0b0;
    letter-spacing: 4px;
    font-size: 1em;
    -webkit-text-stroke: 1.1px #2c383b;
}

h3 {
    font-size: 1.17em;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px #2c383b;
}

p,
li,
h5,
h2 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

body {
    background-color: #2c383b;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 80px auto;
    grid-auto-rows: 2fr 7fr;
    grid-column-gap: 20px;
    grid-template-areas:
        "side hd"
        "side main";
}

.side {
    grid-area: side;
    background-color: #4bc0b0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
}

section {
    grid-area: hd;
}

header {
    display: grid;
    grid-template: 60% 40% / 60% 40%;
    margin-top: 30px;
    margin-bottom: 80px;
}

h1 {
    font-size: 5.4em;
    font-style: italic;
    letter-spacing: 4px;
    box-sizing: border-box;
    grid-area: 1 / 1 / 2 / 2;
}

.dot {
    height: 200px;
    width: 200px;
    background-color: #4bc0b0;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 20px rgba(75, 192, 176, 1);
    grid-area: 1 / 2 / 3 / 3;
    justify-self: flex-start;
    align-self: flex-start;
}

.dot img {
    height: 200px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    margin: auto;
}

h2 {
    box-sizing: border-box;
    padding-left: 5px;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.33em;
    letter-spacing: 3px;
}

div.main {
    box-sizing: border-box;
    padding-left: 5px;
    grid-area: main;
    display: grid;
    grid-template: repeat(3, auto) auto auto / auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.contact {
    box-sizing: border-box;
    margin-bottom: 30px;
    grid-area: 1 / 1 / 2 / 2;
}

.contact h3,
.general h3,
.education h3,
.experience h3 {
    box-sizing: border-box;
    width: 450px;
    height: 61px;
    padding-bottom: 25px;
}

.contact p,
.general p,
.experience p,
.languages p,
.skills p {
    padding-bottom: 20px;
}

.general {
    grid-area: 2 / 1 / 4 / 2;
}

.icon i {
    font-size: 3rem;
    transition: 1s;
}

.contact i:hover {
    font-size: 3.5rem;
}

.education {
    grid-area: 1 / 2 / 3 / 3;
}

.education h4,
.experience h4 {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}

.education ul {
    padding-bottom: 20px;
}

.experience {
    grid-area: 3 / 2 / 4 / 3;
}

.experience h4 {
    padding-bottom: 10px;
}

.languages {
    grid-area: 4 / 1 / 5 / 3;
    display: grid;
    grid-template: 61px 40px 40px / 40% auto
}

.languages h3 {
    grid-area: 1 / 1 / 2 / 3;
}

.languages .french,
.languages .dutch,
.languages .english,
.languages .german {
    box-sizing: border-box;
}

.languages span {
    font-weight: lighter;
}

.skills {
    box-sizing: border-box;
    grid-area: 5 / 1 / 6 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills h3 {
    height: 61px;
    width: 100%;
}

.skills .hard,
.skills .soft {
    width: 376px;
}

.skills h4 {
    margin-bottom: 15px;
}


.skills li,
.experience li {
    padding-bottom: 8px;
}

li {
    list-style: none;
}