%jc-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.icon{
    font-size: 1.5rem;
}


body {
    font-size: 0.9rem;
    display: flex;
    background-color: #BBCDE5;
}

#content-wrapper {
    margin: 10px;

    li {
        list-style: none;
    }

    .inline-h {
        display: inline-block;
    }

    h1,
    h3,
    h4,
    .h4-style {
        font-family: 'Anton', sans-serif;
        color: #1C5D99;
    }

    p,
    li,
    h5,
    h2,
    a {
        color: #222222;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 4rem;
        font-style: italic;
        font-weight: lighter;
        //-webkit-text-stroke: 1px #2c383b;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-weight: lighter;
        font-size: 1rem;
        //letter-spacing: 2px;
    }
    h4{
        
    }
    h5{
        font-size: 0.8rem;
    }
}
.head-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    #intro{
        display: flex;
        flex-direction: column;
        order: 1;
        h1{
            align-self: center;

        }
    }
}

#pic {
    overflow: hidden;
    width: auto;
    .dot {
        border-radius: 50%;
        img {
            height: 200px;
            border: 5px solid #1C5D99;
            border-radius: 50%;

        }
    }
}

.card-head{
    margin-top: 10px;
    padding: 5px 5px 0px;
    @extend %jc-sb;
    background-color: rgba(141, 153, 174, 0.5);
    border-bottom: 1px solid #639FAB;
    i{
        color: #222222;
    }
    &:hover{
        background-color: #8D99AE;
    }
    .animate {
        animation-duration: 15s;
        animation-delay: 2s;
        animation-name: rotation;
        animation-iteration-count: 3;
        //animation-direction: alternate;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    1%{
        transform: rotate(-30deg)
    }

    2%{
        transform: rotate(30deg)
    }

    3%{
        transform: rotate(-30deg)
    }

    4%{
        transform: rotate(30deg)
    }

    5%{
        transform: rotate(-30deg)
    }

    6%{
        transform: rotate(30deg)
    }

    7%{
        transform: rotate(0deg)
    }

    to {
        transform: rotate(0deg);
    }
  }

.card-body{
    border-bottom: 1px solid #639FAB; 
    &.slideIn, &.slideOut{
        max-height: 0;
        overflow-y: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }
    
    &.slideOut{
        max-height: 300px;
    }
    .card-content {
        padding: 5px;
        background-color: rgba(99, 159, 171, 0.212);
        .jc-sb{
            @extend %jc-sb;
        }
    }
}




.side {
    min-height: 100vh;
    width: 6%;
    background-color: #1C5D99;
}