%jc-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 95%;
}


body {
    display: flex;
    background-color: #2c383b;
}

#content-wrapper {
    margin: 10px;

    li {
        list-style: none;
    }

    .inline-h {
        display: inline-block;
    }

    h1,
    h3,
    h4,
    .h4-style {
        font-family: 'Anton', sans-serif;
        color: #4bc0b0;
    }

    p,
    li,
    h5,
    h2,
    a {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 4rem;
        font-style: italic;
        font-weight: lighter;
        //-webkit-text-stroke: 1px #2c383b;
    }

    h3{
        font-size: 1.2rem;
    }
}

.card-head{
    padding: 5px 5px 0px;
    @extend %jc-sb;
    background-color: #273235a9;
    border-bottom: 2px solid #4bc0b0;
    i{
        color: #4bc0b0;
    }
    &.margin{
        margin-bottom: 10px;
    }
    &:hover{
        background-color: #1f282ba9;
    }
    .rotate {
        animation-duration: 2s;
        animation-name: rotation;
        animation-iteration-count: 2;
        animation-direction: alternate;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    50%{
        //transform: rotate(180deg)
    }
  
    to {
        transform: rotate(360deg);
    }
  }

.card-body{
    padding: 5px;
    background-color: #4bc0b021;
    margin-bottom: 10px;
    .jc-sb{
        @extend %jc-sb;
    }
    &.hidden{
        display: none;
    }
}



.side {
    min-height: 100vh;
    width: 6%;
    background-color: #4bc0b0;
}