%jc-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.icon{
    font-size: 1.5rem;
}


body {
    font-size: 0.9rem;
    display: flex;
    background: linear-gradient(90deg, #9DB17C 0%, #9DB17C 10%, #ffffff 10%, #ffffff 100%);
}

#content-wrapper {
    width: 100%;
    margin: 10px 10px 10px 13%;

    li {
        list-style: none;
    }

    .inline-h {
        display: inline-block;
    }

    h1,
    h3,
    h4,
    .h4-style {
        font-family: 'Anton', sans-serif;
        color: #8F7E4F;
    }

    p,
    li,
    h5,
    h2,
    a {
        color: #524632;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 4rem;
        font-style: italic;
        font-weight: lighter;
        //-webkit-text-stroke: 1px #2c383b;
    }
    h2{
        //font-size: 1rem;
    }
    h3{
        font-weight: lighter;
        font-size: 1rem;
        //letter-spacing: 2px;
    }
    h4{
        font-size: 0.9rem;
        font-weight: lighter;
        letter-spacing: 2px
    }
    .h4-style {
        font-size: 0.7rem;
    }
    h5 {
        font-size: 0.8rem;
    }
}
.head-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    #intro{
        display: flex;
        flex-direction: column;
        order: 1;
        h1{
            align-self: center;

        }
    }
}

#pic {
    overflow: hidden;
    width: auto;
    .dot {
        border-radius: 50%;
        img {
            height: 200px;
            border: 5px solid #524632;
            border-radius: 50%;

        }
    }
}

.card-head{
    margin-top: 10px;
    padding: 5px 5px 0px;
    @extend %jc-sb;
    background-color: rgba(195, 196, 158, 0.5);
    border-bottom: 1px solid #524632;
    i{
        color: #524632;
    }
    &:hover{
        background-color: rgb(195, 196, 158);
    }
    .animate {
        animation-duration: 15s;
        animation-delay: 2s;
        animation-name: rotation;
        animation-iteration-count: 3;
        //animation-direction: alternate;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    1%{
        transform: rotate(-30deg)
    }

    2%{
        transform: rotate(30deg)
    }

    3%{
        transform: rotate(-30deg)
    }

    4%{
        transform: rotate(30deg)
    }

    5%{
        transform: rotate(-30deg)
    }

    6%{
        transform: rotate(30deg)
    }

    7%{
        transform: rotate(0deg)
    }

    to {
        transform: rotate(0deg);
    }
  }

.card-body{
    border-bottom: 1px solid #524632; 
    &.slideIn, &.slideOut{
        max-height: 0;
        overflow-y: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }
    
    &.slideOut{
        max-height: 300px;
    }
    .card-content {
        padding: 5px;
        background-color: rgba(195, 196, 158, 0.5);
        .jc-sb{
            @extend %jc-sb;
        }
    }
}




.side {
    min-height: 100vh;
    width: 6%;
    background-color: #1C5D99;
}

@media only screen and (min-width: 769px){
    body {
        background: linear-gradient(90deg, #9DB17C 0%, #9DB17C 35%, #ffffff 35%, #ffffff 100%);
    }
    #content-wrapper {
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
        .container1{
            width: 32%;
            h1{
                color: #e4e9f0;
            }
        }
        .container2{
            width: 63%;
        }
    }
    #pic .dot img{
        border: 5px solid #e4e9f0;
    }
}