* {
    margin: 0px;
    padding:0px;
}
body {
    background-color: #2c383b; /*done*/
}

h1 {
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke: 1px #2c383b;
}

h1,
h3 {
    font-family: 'Anton', sans-serif; /*done*/
    color: #4bc0b0; /*done*/
    text-transform: uppercase;
}

h4 {
    font-family: 'Anton', sans-serif; /*done*/
    color: #4bc0b0; /*done*/
    letter-spacing: 4px;
    font-size: 1em;
    -webkit-text-stroke: 1.1px #2c383b;
}

h3 {
    font-size: 1.17em;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px #2c383b;
}

p,
li,
h5,
h2 {
    color: white; /*done*/
    font-family: 'Source Sans Pro', sans-serif; /*done*/
    letter-spacing: 2px; /*done*/
}
#page-wrapper.row {
        background-color: #2c383b;

    margin: 0px;
}

#side {
    background-color: #4bc0b0;
}

#main-wrapper {
    margin: 20px 0 20px 0;
}

.dot img {
    height: 200px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    margin: auto;
    border: 5px solid #4bc0b0;
}

.languages h3, .skills h3 {
    width: 100%;
}

@media only screen and (max-width: 424px) {
    .dot img {
        height: 100px;
    }
    #pic {
        display: none;
    }
}

@media only screen and (min-width: 425px) and (max-width: 579px) {
    .dot img {
        height: 100px;
    }
    #pic {
        display: flex;
        justify-content: flex-end;
        padding-right: 10%;
        position: absolute;
    }
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
    .dot img {
        height: 150px;
    }
    #pic {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 40px;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
        font-style: italic;
        font-weight: bolder;
        -webkit-text-stroke: 1px #2c383b;
    }
    #pic {
        display: flex;
        justify-content: center;
    }   
}