* {
    padding: 0;
    margin: 0;
    font-size: 21px;
}

/* Scrollbar adjustment*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-track-piece {
    background: #4bc0b0; 
  }

  ::-webkit-scrollbar-corner{
    background: #4bc0b0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* Scrollbar adjustment end*/

html, body {
    height: 100vh;
}

h1, h3 {
    font-family: 'Anton', sans-serif;
    color: #4bc0b0;
    text-transform: uppercase;
}

h4 {
    font-family: 'Anton', sans-serif;
    color: #4bc0b0;
    letter-spacing: 4px;
    font-size: 1em;
    -webkit-text-stroke: 1.1px #2c383b;
}

h3 {
    font-size: 1.17em;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px #2c383b;
}

p, li, h5, h2 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

body {
    background-color: #2c383b;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.page-wrapper {
    margin: 0 0 0 100px;
    display: grid;
    grid-template-columns: 85vw;
    grid-auto-rows: 2fr 7fr;
    grid-template-areas:
    "hd"
    "main";
}
body::before {
    content: "";
    background-color: #4bc0b0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    height: 100%;
    width: 80px;
    position: fixed;
    left: 0px;
    Top: 0px;
}

section {
    grid-area: hd;
}

header {
    display: grid;
    grid-template: auto auto / auto auto;
    margin-top: 30px;
    margin-bottom: 80px;
}

h1 {
    margin-right: 70px;
    font-size: 5.4em;
    font-style: italic;
    letter-spacing: 4px;
    box-sizing: border-box;
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 5.4em;
    font-style: italic;
    letter-spacing: 4px;
}

.dot {
    height: 280px;
    width: 280px;
    background-color: #4bc0b0;
    box-sizing: border-box;
    border-radius: 50%;
    display: grid;
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    margin: auto;
}

.dot img {
    height: 250px;
    border-radius: 50%;
    transform: rotate(90deg);
    justify-self: center;
    align-self: center;
    margin: auto;
}

h2 {
    box-sizing: border-box;
    padding-left: 5px;
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.33em;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #2c383b;
}

div.main {
    box-sizing: border-box;
    padding-left: 5px;
    grid-area: main;
    display: grid;
    grid-template: repeat(3, auto) 220px 300px / auto auto;
    grid-column-gap: 80px;
    grid-row-gap: 20px;
}

.contact {
    box-sizing: border-box;
    margin-bottom: 30px;
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
}

.contact h3, .general h3, .education h3,
 .experience h3, .languages h3, 
 .skills h3{
    box-sizing: border-box;
    width: 550px;
    padding-bottom: 25px;
}

.contact p, .general p, .education p,
 .experience p, .languages p, 
 .skills p{
    padding-bottom: 20px;
}

.general {
    display: grid;
    grid-area: 2 / 1 / 4 / 2;
}

.contact .icon {
    margin: auto auto auto 0;
    display: flex;
}

.contact img {
    height: 40px;
}

.education {
    display: grid;
    grid-area: 1 / 2 / 3 / 3;
}

.experience {
    display: grid;
    grid-area: 3 / 2 / 4 / 3;
}

.languages {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.languages .french, .languages .dutch, .languages .english, .languages .german {
    box-sizing: border-box;
    width: 550px;
}

.languages .french {
    margin-top: 61px;
}

.skills {
    box-sizing: border-box;
    grid-area: 5 / 1 / 6 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills .hard, .skills .soft {
    box-sizing: border-box;
    width: 550px;
}
.skills h4 {
    margin-bottom: 15px;
}

.skills .hard {
    margin-top: 61px;
}

li {
list-style: none;   
}
